<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Home</title>
    <link rel="stylesheet" href="/styles/tailwind.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="bg-gray-800">
  <p class="notification"></p>
  <div id="container" class="bg-gray-600">
    <h1 id="form-title">Iniciar sesión</h1>
    <form id="form-login" class="flex flex-col">
      <input type="text" id="login-input" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Usuario">
      <input type="password" id="password-login-input" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Contraseña">
      <button class="rounded bg-blue-600 hover:bg-blue-900 w-full mt-2 p-2 text-white font-bold" type="submit">Ingresar</button>
    </form>
    <h1 id="form-title">Crear usuario (mesero)</h1>
    <form id="form-create" class="flex flex-col">
      <input type="text" id="create-input" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Nombre de usuario">
      <input type="password" id="create-password-input" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Crear contraseña">
      <button class="rounded bg-blue-600 hover:bg-blue-900 w-full mt-2 p-2 text-white font-bold" type="submit">Crear</button>
    </form>
  </div>
  <script src="index.js"></script>
</body>
</html>
