*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

h1, p {
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: #3883ca;
  border-radius: 0.5rem;
  color: white;
  font-weight:600;
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

#form-title {
  text-align: center;
  color: #f1f5f9;
}

form {
  display: flex;
  gap: 1rem;
}

.show-notification {
  display: block;
}